/* styles/Skills.module.css */
.skillsSection {
    padding: 50px 20px; /* Padding around the section */
    background-color: #f9f9f9; /* Light background color */
    width: 100vw;
    z-index: 1;
    background-image: url('/assets/skill-bg.png');
    background-position: right;
    background-repeat: no-repeat; 
    
}


.title {
    text-align: center; 
    font-size: 2.5rem; 
    margin-bottom: 40px; 
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.skillsContainer {
    max-width: 1200px; 
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 30px;
    
}

.category {
    background-color: rgba(255, 255, 255, 0.8); /* White background for each category */
    padding: 20px; /* Padding within each category */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.categoryTitle {
    font-size: 1.5rem; /* Font size for each category title */
    margin-bottom: 15px; /* Space below category title */
    color: #333; /* Dark text color */
}

.skillsList {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

.skillItem {
    font-size: 1.1rem; /* Font size for skill items */
    margin: 5px 0; /* Spacing between skill items */
    color: #555; /* Mid gray text color */
}