.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.logo h1 {
      margin: 0;
      font-size: 1.8rem;
      background: linear-gradient(90deg, #ff0000, #ff7f00, #744c03, #00ff00, #00ffff, #0000ff, #4b0082, #9400d3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text; /* For Firefox */
}

.menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}
    .menuIcon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: currentColor;
    position: relative;
    transition: all 0.3s;
}

.menuIcon::before,
.menuIcon::after {
    content: '';
    position: absolute;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: currentColor;
    transition: all 0.3s;
}

.menuIcon::before {
    top: -8px;
}

.menuIcon::after {
    top: 8px;
}

.menuIcon.open {
    background-color: transparent;
}

.menuIcon.open::before {
    top: 0;
    transform: rotate(45deg);
}

.menuIcon.open::after {
    top: 0;
    transform: rotate(-45deg);
}
.nav {
      text-align: right;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navList li {
      display: inline;
      cursor: pointer;
      color: #333;
      transition: color 0.3s ease;
}

.navList li:hover {
      color: #0070f3; /* Change color on hover, customize as needed */
}

@media (max-width: 768px) {
    .menuButton {
      display: block;
    }

    .nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: inherit;
      padding: 1rem;
      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
    }

    .nav {
        background-color: rgba(0, 0, 0, 0.9);
      }
    
      .nav .navList li {
        color: white !important;
      }

    .nav.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .navList {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .logo h1 {
      font-size: 1.2rem;
    }
}